@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#f6f7fb;
}

.container{
    width:90%;
    max-width:1200px;
    margin:0 auto;
    padding:30px 0 60px;
}

.title{
text-align:center;
margin-bottom:50px;
}

.title h1{
font-size:42px;
}

.title p{
margin-top:10px;
color:#666;
}

.back{
display:inline-block;
margin-bottom:30px;
text-decoration:none;
color:#0d6efd;
font-weight:bold;
}

.gallery{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:25px;

}

.video{

position:relative;

cursor:pointer;

overflow:hidden;

border-radius:15px;

transition:.4s;

}

.video:hover{

transform:translateY(-6px);

box-shadow:0 15px 30px rgba(0,0,0,.15);

}

.video img{

width:100%;

display:block;

}

.play{

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%);

width:75px;

height:75px;

border-radius:50%;

background:#ff0000;

color:white;

display:flex;

justify-content:center;

align-items:center;

font-size:30px;

}

.modal{

display:none;

position:fixed;

inset:0;

background:rgba(0,0,0,.9);

justify-content:center;

align-items:center;

z-index:999;

}

iframe{

width:80%;

height:80%;

}

.close{

position:absolute;

top:20px;

right:35px;

font-size:45px;

color:white;

cursor:pointer;

}
